
body{
	position: relative;
	background-color: #eee;
	min-height: 100vh;
}
.hero-img{
	filter: brightness(50%);
	width: 	100%;
}

.loc{
	background-color: #ebf6e5;
	padding-top: 10px;
}

.card{
	margin-bottom: 15px;
}

.hero-div{
	position: 	relative;	
}
.text-overlay{
	position: 	absolute;	
	z-index: 	5;
	height: 	100%;
	width: 	100%;
	display: 	flex;	
	justify-content: center;	
	vertical-align: 	middle;	
	flex-direction: 	column;	

}

.loc{
	text-align: 	center;	
}

.text-overlay>span{
	text-align: 	center;	
	color: 	#f5f5f5;
	font-family: 'Pacifico', cursive;
	font-size: 5vw
}

.footer{
	bottom: 0px;
	padding-bottom: 15px;
	background: #f5f5f5;

}
.contact{
		display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.contact-head{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
}
.cards{
	padding: 15px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.title{
	font-size: 4vw;
	font-family: 'Raleway', sans-serif;
	transition: all .1s;
}

@media screen and (max-width:480px){
	.title{
		font-size: 7vw;
	}
}